body{
    margin: 0;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: rgb(188,204,220);
    background: linear-gradient(90deg, rgba(188,204,220,1) 10%, rgba(248,250,252,1) 50%, rgba(188,204,220,1) 90%); */
    background-image: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmlydGhkYXl8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center center;
    font-family:cursive
}

#mainHeader{
    font-size: 4rem;
    font-weight: 200;
    /* text-transform: uppercase; */
    margin: 0;
    /* color: hsl(210, 13%, 30%); */
    /* color: hsla(240, 100%, 7%, 0.784); */
    color: lightcyan;

}

#hourGlass{
    font-size: 6rem;
}

#componentsWrapper{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    height: 200px;
    width: 475px;
    border: .2px solid white;
    /* border: 1px solid hsl(210, 13%, 30%); */
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.35);
}

.countComponent{
    margin-top: -30px;
    font-size: 3.5rem;
    font-weight: 900;
    /* color: hsla(240, 100%, 7%, 0.784); */
    /* color: darkgreen; */
    color: yellow;
    padding: 0px 6px;
    position: relative;   
    /* border: 1px solid black; */
}

.countComponent::before{
    /* display: flex; */
    /* justify-content: center; */
    content: "";
    /* width: 100px; */
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: hsla(120, 100%, 20%, 0.407); */
    color: lightcyan;
    position: absolute;
    bottom: -20px;
    /* border: 1px solid black; */
}

#days::before{
    content: "Days";
    left: 30px;
}
#hours::before{
    content: "Hours";
    left: 10px;
}
#minutes::before{
    content: "Minutes";
    left: 5px;
}
#seconds::before{
    content: "Seconds";
    left: 8px;
}